/*Seccion habilidades*/
.tituloHabilidades{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
}

.habilidades{
    padding-top: 20px;
    padding-bottom: 20px;
}

.habilidad{
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 42px;
    padding: 0.5em 0.7em;
    margin: 10px;
}

.listaHabilidades{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media(min-width: 950px){
    .tituloHabilidades{
        font-size: 50px;
    }
    
    .habilidad{
        font-size: 30px;
    }

    .habilidades{
        max-width: 980px;
        margin: 0 auto;
    }
}